# cspell: disable
apiVersion: config.iknite.app/v1alpha1
kind: SopsGenerator
metadata:
  name: iknite-secrets
  annotations:
    config.kaweezle.com/local-config: "true"
    config.kubernetes.io/function: |
      exec:
        path: karmafun
data:
  keys:
    main:
      # {{ .Values.publicKeyPath }}
      public_key: {{ .Values.publicKey }}
      # {{ .Values.privateKeyPath }}
      private_key: |
        {{ .Values.privateKey | indent 8 | trim }}
