creation_rules:
  - path_regex: .*\.sops\.yaml$
    encrypted_regex: "^data$"
    # This is the {{ .Values.publicKeyPath }} public key, but you can replace it with your own public key
    age: >-
      {{ .Values.publicKey }}
stores:
  json:
    indent: 2
  json_binary:
    indent: 2
  yaml:
    indent: 2
