architecture: "x86_64"
creation_date: {{ now | unixEpoch }}
properties:
  description: "iknite Alpine Linux container image with Kubernetes {{ .Env.KUBERNETES_VERSION }}"
  os: "Alpine Linux"
  release: "edge"
  variant: "default"
