architecture: "x86_64"
creation_date: {{ (file.Stat .Env.IMAGE).ModTime.Unix }}
properties:
  description: "iknite Alpine Linux container image with Kubernetes {{ .Env.KUBERNETES_VERSION }}"
  os: "Alpine Linux"
  release: "edge"
  variant: "default"
  version: "{{ .Env.IKNITE_VERSION }}"
  image_date: {{ (file.Stat .Env.IMAGE).ModTime }}
templates:
    /root/prepare.sh:
      when:
        - create
      template: prepare.sh.tpl
      uid: 0
      gid: 0
      mode: 744
