# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
/iknite

# Go test artifacts
*.test
*.out

# Dependency directories
# vendor/

# Build and release artifacts
dist/
packages/

# Secrets and keys
*.rsa
gpg_key.asc
*-tls.yaml
*.dec.sops.yaml

# Development environment
.vscode/*.log
.venv/
.env

# Root filesystem build artifacts
rootfs/*.apk
*.rootfs.tar.gz
*.rootfs.tar

# Infrastructure as Code
.terraform/
.terragrunt-cache/

# VM and container images
*.qcow2
*.vhdx
*.iso

# Support artifacts
support/apk/iknite-images/*

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
