# Kustomization to add secrets to any kustomization.
# Include it with:
#
#    transformers:
#      - ../../secrets
#
# Then the secrets are available for replacement. For instance:
#     replacements:
#       - source:
#           name: iknite-secrets
#           fieldPath: data.argocd.admin_password
#           options:
#             encoding: bcrypt
#            targets:
#            - select:
#                kind: Secret
#                name: argocd-secret
#              fieldPaths:
#              - stringData.admin\.password

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./secrets.sops.yaml
