apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml
  - https://raw.githubusercontent.com/metallb/metallb/v0.14.5/config/manifests/metallb-native.yaml
  - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
  - ./metallb-addresspool.yaml

patches:
  - patch: |-
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: local-path
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
    target:
      kind: StorageClass
      name: local-path
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --kubelet-insecure-tls
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "200m"
    target:
      kind: Deployment
      name: metrics-server
      namespace: kube-system
