apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./coredns.yaml
  - ./kube-flannel.yaml
  - https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml
  - https://raw.githubusercontent.com/kube-vip/kube-vip-cloud-provider/main/manifest/kube-vip-cloud-controller.yaml
  - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
  - ./kube-vip-addresspool.yaml

patches:
  - patch: |-
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: local-path
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
    target:
      kind: StorageClass
      name: local-path
  # This patch is to fix the busybox image pull issue in air-gapped environments
  - patch: |-
      - op: replace
        path: /data
        value:
          config.json: |-
            {
                    "nodePathMap":[
                    {
                            "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
                            "paths":["/opt/local-path-provisioner"]
                    }
                    ]
            }
          helperPod.yaml: |-
            apiVersion: v1
            kind: Pod
            metadata:
              name: helper-pod
            spec:
              priorityClassName: system-node-critical
              tolerations:
                - key: node.kubernetes.io/disk-pressure
                  operator: Exists
                  effect: NoSchedule
              containers:
              - name: helper-pod
                image: busybox:1.37.0
                imagePullPolicy: IfNotPresent
          setup: |-
            #!/bin/sh
            set -eu
            mkdir -m 0777 -p "$VOL_DIR"
          teardown: |-
            #!/bin/sh
            set -eu
            rm -rf "$VOL_DIR"
    target:
      kind: ConfigMap
      name: local-path-config
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --kubelet-insecure-tls
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "200m"
      - op: replace
        path: /spec/template/spec/containers/0/readinessProbe/initialDelaySeconds
        value: 10
    target:
      kind: Deployment
      name: metrics-server
      namespace: kube-system
