apiVersion: krmfnbuiltin.kaweezle.com/v1alpha1
kind: ReplacementTransformer
metadata:
  name: argocd-secrets-replacements
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: krmfnbuiltin
source: ../../values
replacements:
  - source:
      name: octave-platform-values
      fieldPath: data.git.repoURL
    targets:
      - select:
          kind: Application
          annotationSelector: "autocloud/local-application=true"
        fieldPaths:
          - spec.source.repoURL
          - spec.source.helm.parameters.[name=common.repoURL].value
          - spec.sources.[path=.+].repoURL
      - select:
          kind: ApplicationSet
        fieldPaths:
          - spec.generators.*.git.repoURL
  - source:
      name: octave-platform-values
      fieldPath: data.git.targetRevision
    targets:
      - select:
          kind: Application
          annotationSelector: "autocloud/local-application=true"
        fieldPaths:
          - spec.source.targetRevision
          - spec.source.helm.parameters.[name=common.targetRevision].value
          - spec.sources.[path=.+].targetRevision
      - select:
          kind: ApplicationSet
        fieldPaths:
          - spec.generators.*.git.revision
  - source:
      name: octave-platform-values
      fieldPath: data.git.basePath
    targets:
      - select:
          kind: Application
          annotationSelector: "autocloud/local-application=true,autocloud/custom-path=true"
        fieldPaths:
          - spec.source.path.!!regex.^(k8s)/(\.*)$.1
