# cSpell: disable
name: Buid iknite package, rootfs, and VM images

on:
  pull_request:
    branches: ["main"]
  push:
    tags: ["v*"]

env:
  tf_version: "1.14.3"
  tg_version: "0.97.2"
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/iknite
  IKNITE_REPO_NAME: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) && 'release' || 'test' }}

jobs:
  goreleaser-snapshot:
    name: Test GoReleaser packaging
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    outputs:
      KUBERNETES_VERSION: ${{ steps.import-signing-key.outputs.KUBERNETES_VERSION }}
      IKNITE_VERSION: ${{ steps.get-iknite-version.outputs.IKNITE_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1
      - name: Import Signature key
        id: import-signing-key
        shell: bash
        run: |
          echo -e "$GPG_PRIVATE_KEY" > kaweezle-devel@kaweezle.com-c9d89864.rsa
          chmod 600 kaweezle-devel@kaweezle.com-c9d89864.rsa
          mkdir -p ~/.ssh && chmod 700 ~/.ssh
          cp kaweezle-devel@kaweezle.com-c9d89864.rsa ~/.ssh/id_rsa
          mkdir -p ~/.config/sops/age
          echo -e "$AGE_PRIVATE_KEY" > ~/.config/sops/age/keys.txt
          chmod 600 ~/.config/sops/age/keys.txt
          KUBERNETES_VERSION=$(grep k8s.io/kubernetes go.mod | awk '{gsub(/^v/,"",$2);print $2;}')
          echo "Using Kubernetes version $KUBERNETES_VERSION"
          echo "KUBERNETES_VERSION=$KUBERNETES_VERSION" >> $GITHUB_ENV
          echo "KUBERNETES_VERSION=$KUBERNETES_VERSION" >> $GITHUB_OUTPUT
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          AGE_PRIVATE_KEY: ${{ secrets.AGE_PRIVATE_KEY }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        if: github.event_name == 'pull_request'
        with:
          version: "~> v2"
          args: --snapshot --skip=publish --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        with:
          version: "~> v2"
          args: release --skip=publish --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get iknite version
        id: get-iknite-version
        run: |
          IKNITE_VERSION=$(jq -Mr ".version" dist/metadata.json)
          echo "IKNITE_VERSION=$IKNITE_VERSION" >> $GITHUB_ENV
          echo "IKNITE_VERSION=$IKNITE_VERSION" >> $GITHUB_OUTPUT
      - name: Build iknite images APK
        run: |
          BUILD_DIR="build/apk/iknite-images"
          ARCH=$(uname -m)
          rm -rf "$BUILD_DIR" || /bin/true
          mkdir -p "$BUILD_DIR"

          echo "KUBERNETES_VERSION: ${KUBERNETES_VERSION}" > "$BUILD_DIR/.env"
          ./dist/iknite_linux_amd64_v1/iknite kustomize  -d packaging/apk/iknite/iknite.d print | grep image: | awk '{ print $2; }' > "$BUILD_DIR/image-list.txt"
          ./dist/iknite_linux_amd64_v1/iknite info images >> "$BUILD_DIR/image-list.txt"
          sort -u "$BUILD_DIR/image-list.txt" -o "$BUILD_DIR/image-list.txt"

          docker run --rm --privileged \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd):/work \
            cgr.dev/chainguard/melange build packaging/apk/iknite-images/iknite-images.yaml \
            --arch "$ARCH" \
            --signing-key kaweezle-devel@kaweezle.com-c9d89864.rsa \
            --vars-file "$BUILD_DIR/.env" \
            --source-dir "$BUILD_DIR" \
            --out-dir ./dist/ \
            --generate-index=false
          sudo chown -R $(id -u):$(id -g) dist
          (cd "dist/$ARCH"/ && \
           sha256sum *.apk >>../SHA256SUMS && \
           for f in *.apk; do mv $f ../$(echo $f | sed 's/\-r0.apk$//').$ARCH.apk; done)
          rmdir "dist/$ARCH/"
      - name: Download krmfnbuiltin apk
        run: |
          cd dist
          LATEST_VERSION=$(curl --silent  https://api.github.com/repos/kaweezle/krmfnbuiltin/releases/latest | jq -r .tag_name)
          echo "Latest krmfnbuiltin version is ${LATEST_VERSION}"
          curl -O -L "https://github.com/kaweezle/krmfnbuiltin/releases/download/${LATEST_VERSION}/krmfnbuiltin-${LATEST_VERSION#v}.x86_64.apk"
          curl -O -L "https://github.com/kaweezle/krmfnbuiltin/releases/download/${LATEST_VERSION}/krmfnbuiltin-${LATEST_VERSION#v}.i386.apk"
          cd ..
      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: |
            dist/*.apk
            dist/metadata.json
            dist/SHA256SUMS
      - name: Build APK repo
        uses: ./.github/actions/make-apkindex
        with:
          apk_files: dist/*.apk
          signature_key: "${{ secrets.GPG_PRIVATE_KEY }}"
          signature_key_name: kaweezle-devel@kaweezle.com-c9d89864.rsa
          destination: dist/repo
      - name: Upload APK repo
        run: |
          echo "::group::Instaling tenv"
          TENV_LATEST_VERSION=$(curl --silent https://api.github.com/repos/tofuutils/tenv/releases/latest | jq -r .tag_name)
          curl -O -L "https://github.com/tofuutils/tenv/releases/latest/download/tenv_${TENV_LATEST_VERSION}_amd64.deb"
          sudo dpkg -i "tenv_${TENV_LATEST_VERSION}_amd64.deb"
          echo "::endgroup::"

          echo "::group::Installing terraform ($tf_version) and terragrunt ($tg_version)"
          tenv tf install $tf_version
          tenv tg install $tg_version
          echo "::endgroup::"

          echo "::group::Running terragrunt module"
          export TF_PLUGIN_CACHE_DIR="$HOME/.cache/terraform/plugin-cache"
          mkdir -p $TF_PLUGIN_CACHE_DIR
          cd deploy/iac/iknite/${IKNITE_REPO_NAME}repo
          terragrunt init
          terragrunt apply -auto-approve
          echo "::endgroup::"

  build-rootfs:
    name: Build Root Filesystem for WSL
    needs: [goreleaser-snapshot]
    runs-on: ubuntu-latest
    env:
      KUBERNETES_VERSION: ${{ needs.goreleaser-snapshot.outputs.KUBERNETES_VERSION }}
      IKNITE_VERSION: ${{ needs.goreleaser-snapshot.outputs.IKNITE_VERSION }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:master
          buildkitd-flags: "--allow-insecure-entitlement security.insecure"

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-single-buildx

      - name: Get built apks
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: packages

      - name: Build root fs
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends libarchive-tools

          mkdir -p dist
          BUILD_DIR="build/rootfs/base"
          rm -rf "$BUILD_DIR" || /bin/true
          mkdir -p "$BUILD_DIR"
          cp -r "packaging/rootfs/base/." "$BUILD_DIR/"

          echo "Version is $IKNITE_VERSION"
          cp packages/iknite-${IKNITE_VERSION}.$(uname -m).apk "$BUILD_DIR"
          cp packages/krmfnbuiltin-*.$(uname -m).apk "$BUILD_DIR"
          mkdir -p /tmp/.buildx-cache
          mkdir -p /tmp/.buildx-cache-new
          echo "::group::Building iknite-rootfs-base:${IKNITE_VERSION}"
          docker buildx build \
             --build-arg IKNITE_REPO_URL=https://static.iknite.app/${IKNITE_REPO_NAME}/ \
             --build-arg IKNITE_VERSION=$IKNITE_VERSION \
             --build-arg KUBERNETES_VERSION=${KUBERNETES_VERSION} \
             --cache-from type=local,src=/tmp/.buildx-cache \
             --cache-to type=local,dest=/tmp/.buildx-cache-new \
             --tag iknite-rootfs-base:${IKNITE_VERSION} \
             --load \
             "$BUILD_DIR"
          echo "::endgroup::"

          echo "::group::Adding base iknite images to root fs and exporting"
          docker run \
            --name iknite-rootfs \
            --privileged \
            -v $(pwd)/packages:/apks \
            iknite-rootfs-base:${IKNITE_VERSION} \
            /bin/sh -c 'apk --no-cache add /apks/iknite-images-*.apk; apk del iknite-images'

          ROOTFS_NAME="iknite-${IKNITE_VERSION}-${KUBERNETES_VERSION}.rootfs.tar.gz"
          ROOTFS_PATH="dist/$ROOTFS_NAME"
          docker export iknite-rootfs | bsdtar -zcf "$ROOTFS_PATH" --exclude=.dockerenv --exclude=dev/console @-
          sha256sum "$ROOTFS_PATH" >> dist/SHA256SUMS
          echo "::endgroup::"

          echo "::group::Building and pushing root fs image to registry"
          if [ "$IKNITE_REPO_NAME" = "release" ]; then
            ADDITIONAL_TAG="--tag ${REGISTRY}/${IMAGE_NAME}:latest"
          else
            ADDITIONAL_TAG=""
          fi

          BUILD_DIR="build/rootfs/with-images"
          rm -rf "$BUILD_DIR" || /bin/true
          mkdir -p "$BUILD_DIR"
          cp -r "packaging/rootfs/with-images/." "$BUILD_DIR/"
          cp "dist/${ROOTFS_NAME}" "$BUILD_DIR/$ROOTFS_NAME"

          docker buildx build \
             --build-arg IKNITE_VERSION=$IKNITE_VERSION \
             --build-arg KUBERNETES_VERSION=${KUBERNETES_VERSION} \
             --tag ${REGISTRY}/${IMAGE_NAME}:${IKNITE_VERSION}-${KUBERNETES_VERSION} \
             $ADDITIONAL_TAG \
             --push \
             "$BUILD_DIR"
          echo "::endgroup::"

      - name: Upload root fs artifact
        uses: actions/upload-artifact@v4
        with:
          name: rootfs
          path: |
            dist/*

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  build-vm-images:
    name: Build VM images
    needs: [build-rootfs, goreleaser-snapshot]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      KUBERNETES_VERSION: ${{ needs.goreleaser-snapshot.outputs.KUBERNETES_VERSION }}
      IKNITE_VERSION: ${{ needs.goreleaser-snapshot.outputs.IKNITE_VERSION }}
    steps:
      - uses: actions/checkout@v4

      - name: Get root fs artifact
        uses: actions/download-artifact@v4
        with:
          name: rootfs
          path: dist

      # What is needed: qemu-img qemu-nbd genisoimage
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-utils qemu-guest-agent genisoimage
          ls -Rl dist/

      - name: Build VM images
        run: |
          sudo KUBERNETES_VERSION=${KUBERNETES_VERSION} IKNITE_VERSION=${IKNITE_VERSION} ./packaging/scripts/build-vm-image.sh

      - name: Create OpenStack image and test VM deployment
        id: create-and-test-openstack-image
        # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        if: github.event_name == 'pull_request'
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          AGE_PRIVATE_KEY: ${{ secrets.AGE_PRIVATE_KEY }}
        run: |
          echo "::group::Import Age key"
          mkdir -p ~/.config/sops/age
          echo -e "$AGE_PRIVATE_KEY" > ~/.config/sops/age/keys.txt
          chmod 600 ~/.config/sops/age/keys.txt
          echo "::endgroup::"

          echo "::group::Instaling tenv"
          TENV_LATEST_VERSION=$(curl --silent https://api.github.com/repos/tofuutils/tenv/releases/latest | jq -r .tag_name)
          curl -O -L "https://github.com/tofuutils/tenv/releases/latest/download/tenv_${TENV_LATEST_VERSION}_amd64.deb"
          sudo dpkg -i "tenv_${TENV_LATEST_VERSION}_amd64.deb"
          echo "::endgroup::"

          echo "::group::Installing terraform ($tf_version) and terragrunt ($tg_version)"
          tenv tf install $tf_version
          tenv tg install $tg_version
          echo "::endgroup::"

          echo "::group::Running terragrunt module with instance creation"
          export TF_PLUGIN_CACHE_DIR="$HOME/.cache/terraform/plugin-cache"
          mkdir -p $TF_PLUGIN_CACHE_DIR
          cd deploy/iac/iknite/iknite-vm
          export IKNITE_CREATE_INSTANCE=true
          terragrunt init
          terragrunt apply -auto-approve
          echo "::endgroup::"

          echo "::group::Testing VM instance"
          # Add commands to test the VM instance here
          echo "Should test Kubernetes presence..."
          echo "::endgroup::"

          echo "::group::Teardown VM instance"
          export IKNITE_CREATE_INSTANCE=false
          terragrunt apply -auto-approve
          echo "::endgroup::"

      - name: Upload VM images
        uses: actions/upload-artifact@v4
        with:
          name: vm-images
          path: |
            dist/iknite-*.vhdx
            dist/iknite-*.qcow2

  make-release:
    name: Release iknite package
    needs: [build-rootfs, goreleaser-snapshot, build-vm-images]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    env:
      KUBERNETES_VERSION: ${{ needs.goreleaser-snapshot.outputs.KUBERNETES_VERSION }}
      IKNITE_VERSION: ${{ needs.goreleaser-snapshot.outputs.IKNITE_VERSION }}
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      # Import all the artifacts from previous jobs
      - name: Get All artifacts
        uses: actions/download-artifact@v7

      - name: Prepare release files
        run: |
          ls -Rl
          mkdir -p release
          mv packages/iknite-*.apk release/
          mv rootfs/* release/
          mv vm-images/* release/
          cp Get-Iknite.ps1 release/
          cp packaging/rootfs/base/*.rsa.pub release/
          (cd release && sha256sum * > SHA256SUMS)

      - name: Create the GitHub Release (draft)
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          generate_release_notes: true
          body_path: RELEASE.md
          files: |
            release/*
